body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-holder {
    border: 5px solid black;
}

.container {
    width: 100%;
    margin: 0px;
}

.nev {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -45px;
}

.date, 
.name {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px 90px;
    font-size: 20px;
    margin-bottom: 35px;
    width: fit-content;
    padding: 0;
}
.name {
    padding-left: 35px;
    justify-content: space-around;
}

input {
    border-right: none;
    border-left: none;
    border-top: none;
}

.date :nth-child(4) input {
    width: 625px;
}

.name :nth-child(1) input, 
.name :nth-child(2) input { width: 355px;}
.name :nth-child(4) input { width: 110px;}